langgraph
langchain
pandas 
numpy
langchain-huggingface
dotenv
langchain-google-genai
streamlit
langchain-groq
langchain_community
duckduckgo-search
ddgs
langchain-ollama
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]